@import url('https://fonts.cdnfonts.com/css/poppins');

body{
    font-family: 'Poppins';
}

.fundo{
    background-image: url("fundo.jpg");
    background-size: cover;
    background-attachment:fixed;
    -webkit-text-size-adjust: 200%;
}

.nomes{
    font-size: 30px;

}
.img{
    max-width:100%;
    max-height:100%;
    max-width:100%;
    text-align:center;
    width:1125px;
    height:100%;
}

.container1{
    max-width:100%;
    width:1100px;
    background: white;
}

.textohome{
    max-width:100%;
    width:1000px;
    word-wrap:break-word;
}

.container2{
    width:1000px;
    max-width:100%;
    text-align:center;
    background:white;
}

.sim{
    color:green
}

.nao{
    color:red
}

