<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LGPD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-image:url({{ url_for('static', filename='fundo.jpg') }});background-size: cover;background-attachment:fixed;-webkit-text-size-adjust: 200%;">
    <div style="text-align:center;max-width:100%" class="container">
        <img style="max-width:100%;max-height:100%" height="100%" width="1100" src="{{ url_for('static', filename='logo1.jpg') }}" >
    </div>
    <div style="max-width:100%;background: white;width:1100px" class="container" align="center" >
        <div class='container ' style='max-width:100%;width:1000px;word-wrap:break-word;' align="left">
            <br>
            <p style="text-align:left">
                A Lei Geral de Proteção de Dados (13.709/2018) tem como principal objetivo proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento de qualquer ser humano. Também tem como foco a criação de um cenário de segurança jurídica, com a padronização de regulamentos e práticas para promover a proteção aos dados pessoais de todo cidadão que esteja no Brasil, de acordo com os parâmetros internacionais existentes.
            </p>
            <p style=" text-align:left">
                Alerta!
                São diversos os motivos pelos quais as organizações justificam a falta de adequação. Por falta de conhecimento, ou por acharem que não precisam, ou que acreditam fazerem parte do grupo das pessoas que não necessitam respeitar as normas da LGPD.
            </p>
            <p style=" text-align:left">
                É imprescindível lembrar que mesmo que as sanções estejam acontecendo gradualmente, elas podem ser bem sérias e gerar grandes consequências para a organização que não esteja adequado as suas normas.
            </p>
            <p style="text-align:left">
                TIPOS DE DADOS QUE DEVEM SER PROTEGIDOS.
            </p>
            <p style="text-align:left; font-weight:bold">
                Dados Pessoais
            </p>
            <p style="text-align:left">
                O dado pessoal é aquele que possibilita a identificação, direta ou indireta, da pessoa natural.
                São exemplos de dados pessoais:
                    <li>teste</li>
                    <li>nome e sobrenome;</li>
                    <li>data e local de nascimento;</li>
                    <li>RG;</li>
                    <li>CPF;</li>
                    <li>número de cartão bancário;</li>
            </p>
            <p style="text-align:left; font-weight:bold">
                Dados Sensíveis
            </p>
            <p style="text-align:left">
                Dentre os dados pessoais, há aqueles que exigem maior atenção no tratamento: aqueles relacionados a crianças e adolescentes; e os “sensíveis”, que são os que revelam origem racial ou étnica, convicções religiosas ou filosóficas, opiniões políticas, filiação sindical, questões genéticas, biométricas e sobre a saúde ou a vida sexual de uma pessoa.
            </p>
            <p style="text-align:left; font-weight:bold">
                Dados Públicos
            </p>
            <p style="text-align:left">
                O tratamento de dados pessoais públicos deve considerar a finalidade, a boa-fé e o interesse público que justificaram a sua disponibilização. A LGPD define que uma organização pode, sem precisar pedir novo consentimento, tratar dados tornados públicos pelo(a) titular em momento anterior e de forma evidente. Porém, se a organização quiser compartilhar esses dados com outras organizações, necessariamente ela deverá pedir outro consentimento para esse fim - resguardadas as hipóteses de dispensa previstas na Lei.
            </p>
            <p style="text-align:left; font-weight:bold">
                DICAS!!!
            </p>
            <p style="text-align:left">
                <ul>1. Nomeie um responsável pela proteção de dados.</ul>
                <ul>2. Mapeie e classifique todos os dados.</ul>
                <ul>3. Preencha uma avaliação de impacto na privacidade.</ul>
                <ul>4. Documente, mantenha e faça cumprir as políticas, procedimentos e processos de privacidade.</ul>
                <ul>5. Treine funcionários.</ul>
                <ul>6. Teste procedimentos de resposta à violação de dados pessoais.</ul>
                <ul>7. Monitore o vazamento de dados pessoais e incidentes de segurança da informação.</ul>
            Facilite sua jornada rumo à conformidade com a LGPD.
            </p>
            <p style="text-align:left">
                Lembre-se que, de acordo com a LGPD, o titular dos dados é a pessoa natural a quem se referem as informações, e não as empresas que coletaram ou que armazenam esses dados.
                <br>É por isso que a sua organização não pode fazer o que quiser com os dados de alguém.
                <br>Todo e qualquer tratamento de dados – coleta, produção, transmissão, armazenamento, eliminação, avaliação – deve ser realizado nos caminhos traçados pela lei, senão será, obviamente, ilegal.
            </p>
        </div>
        <form action="" method="POST" class="border p-4 mt-2">
            {{ btn.csrf_token }}
            <div class="row">
                {{ btn.btnFormulario(class="btn btn-primary mt-2") }}
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>